<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Login with GitHub</title>
</head>

<body>
    <div class="login-container">
        <h1>Welcome to Our App</h1>
        <a href="/auth/github" class="github-login-btn">GitHub</a>
        <a href="/auth/google" class="google-login-btn">Google</a>
    </div>
</body>

<style>

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

.google-login-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: red;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.google-login-btn:hover {
    background-color: green;
}
.github-login-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.github-login-btn:hover {
    background-color:whitesmoke;
    color: #000;
}

</style>

</html>
